<div class="proyects">
    <div class="col"></div>
    <div class="container-fluid border-bottom border-2 proyectsTittle">
    <h1>Proyectos Realizados</h1>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/img-programacion-2.jpeg" class="card-img-top border-bottoms" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mi portafolio personal</h5>
          <p class="card-text border-bottom">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         <a target="_blank" href="https://github.com/CollsJesus/Portafolio-Front" class="btn btn-primary">Repositirio git-hub</a>
        </div>
    </div>
</div>