* {
    text-align: center;
    color: #fff;
 }

.row {
    padding: 10px;
    background: rgb(21,25,50);
    background: radial-gradient(circle, rgba(21,25,50,0.9528186274509804) 17%, rgba(39,82,182,0.9136029411764706) 62%, rgba(65,63,91,1) 99%);
}

#name {
    font-size: 30px;
    font-weight: bold;
}

#career {
    font-size: 20px;
    font-weight: bold;
}

img {
    width: 230px;
    height: 230px;
    border-radius: 20%;
    border: #000 solid;
}