.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: rgb(21,25,50);
    background: radial-gradient(circle, rgba(21,25,50,0.9528186274509804) 17%, rgba(39,82,182,0.9136029411764706) 62%, rgba(65,63,91,1) 99%);
}

.logoAp img {
    width: 150px;
    height: 100px;
}

.socialNetworks img{
    margin-top: 25px;
    padding: 3px;
}