<div class="container-fluid border-bottom border-2">
    <h1>Hard and soft Skills</h1>
</div>
<div class="front">
    <div class="frontend">
        <h2>Fron-End</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum veniam fugiat aspernatur dolorum alias cupiditate inventore eligendi asperiores laborum eos id eius, libero quaerat? Ex saepe earum eaque architecto doloremque?Lorem ipsum dolor, sit amet</p>
    </div>
<div class="container text-center">
    <div class="row align-items-start">
      <div class="col">
        <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/HTML"> <img src="../../../assets/html_original_wordmark_logo_icon_146478.png" alt=""></a>
      </div>
      <div class="col">
        <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/CSS"> <img src="../../../assets/css_original_wordmark_logo_icon_146576.png" alt=""></a>
      </div>
      <div class="col">
        <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/javascript"> <img src="../../../assets/javascript_icon_130900.png" alt=""></a>
      </div>
      <div class="col">
        <a target="_blank" href="https://angular.io/"> <img src="../../../assets/file_type_angular_icon_130754.png" alt=""></a>
      </div>
      <div class="col">
        <a target="_blank" href="https://www.typescriptlang.org/"> <img src="../../../assets/file_type_typescript_official_icon_130107.png" alt=""></a>
      </div>
      <div class="col">
        <a target="_blank" href="https://getbootstrap.com/"> <img src="../../../assets/bootstrap_plain_logo_icon_146619.png" alt=""></a>
      </div>
    </div>
  </div>
</div>

<div class="front">
    <div class="frontend">
        <h2>Back-end</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum veniam fugiat aspernatur dolorum alias cupiditate inventore eligendi asperiores laborum eos id eius, libero quaerat? Ex saepe earum eaque architecto doloremque?Lorem ipsum dolor, sit amet</p>
    </div>
<div class="container text-center">
    <div class="row align-items-start">
      <div class="col">
        <a target="_blank" href="https://www.java.com/es/"> <img src="../../../assets/java_original_wordmark_logo_icon_146459.png" alt=""></a>
      </div>
      <div class="col">
        <a target="_blank" href="https://nodejs.org/en/"> <img src="../../../assets/nodejs_original_wordmark_logo_icon_146412.png" alt=""></a>
      </div>
      <div class="col">
        <a target="_blank" href="https://spring.io/"> <img src="../../../assets/icons8-spring-boot-48.png" alt=""></a>
      </div>
      <div class="col">
        <a target="_blank" href="https://www.mysql.com/"> <img src="../../../assets/mysql_original_wordmark_logo_icon_146417.png" alt=""></a>
      </div>
    </div>
  </div>
</div>

<div class="front">
    <div class="frontend">
        <h2>Herramientas de trabajo</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum veniam fugiat aspernatur dolorum alias cupiditate inventore eligendi asperiores laborum eos id eius, libero quaerat? Ex saepe earum eaque architecto doloremque?Lorem ipsum dolor, sit amet</p>
    </div>
<div class="container text-center">
    <div class="row align-items-start">
      <div class="col">
        <a target="_blank" href="https://code.visualstudio.com/"> <img src="../../../assets/microsoft_visual_studio_code_alt_macos_bigsur_icon_189955.png" alt=""></a>
      </div>
      <div class="col">
        <a target="_blank" href="https://netbeans.apache.org/"> <img src="../../../assets/apache-netbeans.svg" style="height: 48px;"alt=""></a>
      </div>
      <div class="col">
        <a target="_blank" href="https://git-scm.com/"> <img src="../../../assets/icons8-spring-boot-48.png" alt=""></a>
      </div>
      <div class="col">
        <a target="_blank" href="https://www.npmjs.com/"> <img src="../../../assets/npm_icon_146141.png" alt=""></a>
      </div>
      <div class="col">
        <a target="_blank" href="https://maven.apache.org/"> <img src="../../../assets/file_type_maven_icon_130397.png" alt=""></a>
      </div>
      <div class="col">
        <a target="_blank" href="https://www.postman.com/"> <img src="../../../assets/postman_macos_bigsur_icon_189815.png" alt=""></a>
      </div>
    </div>
  </div>
</div>