<div class="containerSize">
    <div class="experiencesTitle">
        <h1>Estudios realizados</h1>
    </div>
    <div class="row">
        <div class="col-sm-4 mb-4 mb-sm-0">
            <div class="card border border-success">
                <img src="../../../assets/liceo-pedro-emilio.png" class="card-img-top border-bottom imgHeigt">
              <div class="card-body">
                <h5 class="card-title">U.E.N "PEDRO EMILIO COLL"</h5>
                <h6 class="card-subtitle mb-2">Titulo: Secundario completo</h6>
                <p class="card-text">With supporting text below as a natural lead-in to additional content. Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 mb-4 mb-sm-0">
            <div class="card border border-success">
                <img src="../../../assets/academia-bartender-logo-04-1-1536x1259.png" class="card-img-top border-bottom imgHeigt">
              <div class="card-body">
                <h5 class="card-title">Academia nacional de bartender</h5>
                <h6 class="card-subtitle  mb-2">Titulo: Profesional en servicio al comedor</h6>
                <p class="card-text">With supporting text below as a natural lead-in to additional content. Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 mb-4 mb-sm-0">
            <div class="card border border-success">
                <img src="../../../assets/APLogo.png" class="card-img-top border-bottom imgHeigt" style="background-color: black;">
              <div class="card-body">
                <h5 class="card-title">Argentina Programa</h5>
                <h6 class="card-subtitle  mb-2">Titulo: Programador Full Stack Developer Jr</h6>
                <p class="card-text">With supporting text below as a natural lead-in to additional content. Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
              </div>
            </div>
          </div>
    </div>
  </div>