<!-- <div class="row">
    <div class="col-md-12">
        <h2>Experiencia laboral</h2>
        <ul>
            <h3>trabajo 1</h3>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime nemo id dolorum inventore quas fuga sequi odio, voluptatem dolore expedita ex modi, eaque sit beatae incidunt accusamus similique. Atque, quo!</li>
        </ul>
    </div>
</div> -->



<!-- edicion nueva <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/escalerasmil.png" class="card-img-top">
        <div class="card-body">
            <h4 class="card-title  mb-4">Escaleras Mil (2019 - Actualmente)</h4>
            <h5 class="card-subtitle  mb-2">Puesto: Vendedor/Gestion de pagina web y Mercado libre</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/ANB-Venezuela.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/liceo-pedro-emilio.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
  </div> hasta aca la ultima edicion -->  

  <div class="containerSize">
    <div class="experiencesTitle">
        <h1>Experiencia Laboral</h1>
    </div>
    <div class="row">
        <div class="col-sm-4 mb-4 mb-sm-0">
            <div class="card border border-success">
                <img src="../../../assets/escalerasmil.png" class="card-img-top border-bottom imgHeigt">
              <div class="card-body">
                <h5 class="card-title">Escaleras Mil (2019 - Actualmente)</h5>
                <h6 class="card-subtitle mb-2">Puesto: Vendedor/Gestion de pagina web y Mercado libre</h6>
                <p class="card-text">With supporting text below as a natural lead-in to additional content. Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 mb-4 mb-sm-0">
            <div class="card border border-success">
                <img src="../../../assets/altamira-village.jpg" class="card-img-top border-bottom imgHeigt">
              <div class="card-body">
                <h5 class="card-title">Hotel altamira village</h5>
                <h6 class="card-subtitle  mb-2">Puesto: Encargado de cocina</h6>
                <p class="card-text">With supporting text below as a natural lead-in to additional content. Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 mb-4 mb-sm-0">
            <div class="card border border-success">
                <img src="../../../assets/imagen haburguesa.jpg" class="card-img-top border-bottom imgHeigt">
              <div class="card-body">
                <h5 class="card-title">Hamburguesas Festival</h5>
                <h6 class="card-subtitle  mb-2">Puesto: Encargado de cocina</h6>
                <p class="card-text">With supporting text below as a natural lead-in to additional content. Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
              </div>
            </div>
          </div>
    </div>
  </div>